<div class="form-container">
  <h1>Form Submission</h1>

  <!-- Form for Localhost URL -->
  <form [formGroup]="form" (ngSubmit)="submitLocalhostUrl()" class="form-group">
    <label for="localhostUrl">Enter Localhost URL:</label>
    <input
      type="text"
      id="localhostUrl"
      formControlName="localhostUrl"
      placeholder="Enter the URL"
      class="form-control"
      required
    />
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit URL</button>
  </form>

  <!-- Form for cURL Value -->
  <form [formGroup]="form" (ngSubmit)="submitCurlValue()" class="form-group">
    <label for="curlValue">Enter cURL Value:</label>
    <textarea
      id="curlValue"
      formControlName="curlValue"
      placeholder="Enter the cURL command"
      class="form-control"
      rows="5"
      required
    ></textarea>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit cURL</button>
  </form>

  <div class="result">
    @if (accessToken || refreshToken){
      <h3>Extracted Tokens:</h3>
      <p><strong>Access Token:</strong> {{ accessToken }}</p>
      <p><strong>Refresh Token:</strong> {{ refreshToken }}</p>
    }

    <!-- Redirect Button -->
    @if (accessToken || refreshToken){
      <button (click)="redirectToUrl()" class="btn btn-success">
      Redirect to URL
    </button>

      @if (redirectUrl) {
        {{redirectUrl}}
      }
    }
  </div>
</div>
